$text-color: grey;
$text-size: 12px;

.headline {
  font-size: large;
  border:none;
  outline: none;
}

.btn {
  :hover {
    cursor: pointer;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.regular-text {
  font-size: 14px;
  color: black;
}

.footer-text {
  font-size: $text-size;
  color: $text-color;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.footer {
  margin-left: 10px;
}

.card-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.action-btns{
  display: flex;
  > span:not(:first-child){
    margin-left: 7px;
  }
}
.actions-wrapper {
  display: flex;
  justify-content: space-between;
}


.number-input {
  width:40px;
  color:$text-color !important ;
  font-size: 12px !important;
  margin-right: 5px;
  margin-left: 5px;
}

.description-text-area {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
}
