
.status{
  border:none;
  outline: none;
  padding:0 5px;
  border-radius: 5px;
}
.ok {
  background-color: lawngreen;
}
.warning {
  background-color: darkorange;
}

.do {
  background-color: red;
}
