.App {
  width: 100vw;
  background: #e8e8e8;
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: scroll;
  font: 13px/27px Roboto,
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: lightskyblue;
  padding: 5px;
  color: black;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 999;
}

.App-title {
  font-size: 1.5em;
  margin-left: 20px;
}

.App-intro {
  font-size: large;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card {
  margin-bottom: 10px;
  flex: 1;
  max-width: 500px;
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
